<div class='schedule' id='<%= dom_id(schedule) %>'>
  <span class='label label-info'> <%= l schedule.post_at, format: :short %> </span> -

  <%- if schedule.posted? %>
    <strong class='label label-success'> <%= t '.posted' %> </strong>
  <% else %>
    <strong class='label'> <%= t '.not_posted' %> </strong>
  <% end %>
</div>
