<% content_for :page_header do %>
  <%= page_header %>
<% end %>

<%= link_to t('.update'), groups_path, method: 'put', remote: true, class: 'btn btn-success', id: 'update-groups' %>

<hr />

<div id='groups'>
  <%- if @groups.any? %>
    <%= render @groups %>
    <hr />
  <% else %>
    <h3><%= t '.no_groups' %></h3>
  <% end %>

</div>
